@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
/*core styles*/
body{
	background: #FFFDFF;
	color: #242324
	font-size: 1.1em;
	line-height: 1.5em;
	text-align: center;
}
#header{ 
	background-color: #090608;
	color: #fff;
	min-height: 500px;
}

#header{
	padding-top: 20px;
	padding-bottom: 0px;
}

#header .content-wrap,
#about .content-wrap
{
	padding: 0 1.5em;
}

/*#header .bg-img{
	position: absolute;
	background: black url(../images/bg-img.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 500px;
	z-index: -1;
	background-blend-mode: overlay;
}
*/

img{
	display: block;
	width: 100%;
	height: auto;
}

.logo{
	font-family: Sacramento;
	font-size: 1.5em;
	display: block;
}

h1{
	margin-bottom: 0;
	padding: 2em .5em;
	font-size: 2em;
	line-height: 1.5em; 
	font-family: "Poiret One";

}

.btn{
	font-size: 1em;
	margin: .5em .5em;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: .2em .2em;
	/*transition-delay: .1;*/

}

.btn:hover{
	font-size: 1.2em;
	background: #242324;

}

#about{
	margin-top: 2em;
	background: #FFFDFF;
	color: #333;
	padding: 0;
}


#about p{
	margin: 1em .5em;
}

#about h2{
	font-family: "Poiret One";
	font-size: 3em;
	margin: 1em .5em;
}

#about ul{
	background: #fff;
	padding: 0;
	margin: .5em 0;
}

#about li{
	background: #fff;
	color: #333;
	padding: 2em 2em;
	border-radius: 1em;
}

#about img{
	border-radius: 1em;
}

#edu{
	background: #242324;
	color: #fff;
	padding: 1em 0;
}

#edu h2{
	font-family: "Poiret One";
	font-size: 3em;
	margin: 1em 0;
}



#edu .tech-logo{
	display: inline-block;
	margin: 2em .1;
}

#edu p{
	line-height: 2em;
	margin: 1em 0;
}

#edu .edu-pics li{
	background: #fff;
	color: #333;
	padding: .2em .2em;
	border-radius: 1em;
	margin: .1em;
}

#edu img{
	border-radius: 1em;
	/*background-blend-mode: soft-light;*/
	filter: brightness(130%) contrast(110%) saturate(120%);
}


.user-story, 
.lesson-learned{
	border: .05em #fff solid;
	margin: .5em;
}



#edu h3{
	color: #fff;
	font-size: 2em;
	padding: .5em 0;
	font-family: "Poiret One"
}

#edu ol{
	list-style: decimal;
	list-style-position: inside;
	font-family: "Cutive Mono"
}

.user-story ol li{
	font-size: 1.5em;
	line-height: 2.5em;
	text-decoration-line: line-through;
	text-decoration-color: black;

}

.lesson-learned ol li{
	font-size: 1.5em;
	line-height: 2.5em
}

#intern{
	margin-top: 2em;
	background: #FFFDFF;
	color: #333;

}

#intern h2{
	font-family: "Poiret One";
	font-size: 3em;
	margin-bottom: 1em;
}

#intern li{
	margin-bottom: 1em;
	background: #fff;
	color: #333;
	padding: 0 1em;
}

#intern h3{
	color: #242324;
	font-size: 2em;
	padding: .5em 0;
	font-family: "Poiret One"
}

#intern .user-story, 
#intern .lesson-learned{
	border: .1em #141414 solid;
	margin: .5em;
}

#intern ol{
	list-style: decimal;
	list-style-position: inside;
	font-family: "Cutive Mono"
}

#intern .user-story ol li{
	font-size: 1.5em;
	line-height: 2.5em;
	text-decoration-line: line-through;
	text-decoration-color: #A5A3A5;

}

#intern .lesson-learned ol li{
	font-size: 1.5em;
	line-height: 2.5em
}

#projects{
	margin-top: 2em;
	background: #242324;
	color: #fff;
	padding-top: 2em;
}

#projects h2{
	font-family: "Poiret One";
	font-size: 3em;
	margin-bottom: 1em;
}

#projects img{
	background: #fff;
	margin-bottom: 1em;
}

#projects li{
	border: #fff .1em solid;
	/*margin-bottom: 1em;*/
	background: #242324;
	color: #fff;
	padding: .5em 1em;
	margin: .5em 1em;
}

#projects p{

	line-height: 2em;
}


#projects .btn{
	font-size: 1.5em;
	margin: 1em;
	display: inline-block;
	color: #333;
	text-decoration: none;
	padding: 1em 1em;
	/*transition-delay: .1;*/
	padding: 0.2em .2em;
	background: #fff;
	border-radius: 2em;

}
#projects .btn:hover{
		color: orange;
}

#projects .card:first-child{
	width: 350px;
	height: 350px;

}
#projects .card{
	display: inline-block;
	width: 200px;
	height: 200px;
	text-align: center;
}

#projects img{
	border-radius: 3em;
	margin: 2em 0;
	display: block;
	width: 100%;
	height: auto;
	text-align: center;

}

#footer{
	background: black;
	color: #fff;
	padding: 2em 0;
	text-align: center;

}
#footer a{
	display: inline-block;
	text-decoration:none;
	color: white;
	padding: 10px 15px;
	font-weight: bold;
	font-size: 1.5em;
}

#footer img{
	width:40px;
	height:40px;
	border:0;
}

#footer a:hover { 
	background-color: #333;
	opacity: .8;
	background-blend-mode: screen;
}

#social-links{
	padding: 10px;
	float: center;
	display: inline-block;
}

/*media query*/
 @media(min-width: 700px){

 	/*.grid{
 		display: grid;
 		grid-template-columns: 1fr 1fr 1fr 1fr;
 	}*/

 	#header{
 		display: grid;
 		grid-template-columns: repeat(8, 1fr);
 		grid-template-rows: (auto, 1fr);
 	}

 	.logo{
 		display: block;
 		grid-column: 1/3;
 		padding: 0;
 		margin: 0;
 		grid-row: 1;
 		/*padding-top: .5em;*/
 	}

 	.top-nav{
 		display: inline-block;
 		grid-column: 5/-1;
 		grid-row: 1;
 	}
	.intro{
		grid-column: 2/8;
		grid-row: 2;
	}

	/*#header a{
		margin: 0;
		text-align: center;
		padding: .5em .2em;
	}
*/
	.btn{
	font-size: 1em;
	margin: .2em .2em;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: .2em .4em;

	}

	.btn:hover{
		font-size: 1.2em;
		background: #242324;
	}


	#about{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: (auto, 2);
	}

	#about h2{
		grid-column: 1/-1;
		grid-row: 1;
		margin: 1em 0;
	}

	#about p{
		grid-column: 1;
		grid-row: 2;
	}

	#about ul{
		grid-column: 2;
		grid-row: 2;
		margin: 30% 5%;
	}
 }























